<h1 style="background-color:#D9853B;margin-top:0px;padding-top:0px;margin-bottom:70px;" class="text-center"> New Record for Room </h1>
<div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6 col-md-offset-3">
<%= simple_form_for Room.new do |f| %>
  <%= f.input :symbol %>
  <%= f.input :number %>
  <%= f.input :price %>
  <%= f.input :sitter %>
  <%= f.submit 'New Record ', class: 'btn btn-success' %>
<% end %>
      </div>
    </div>
</div>      



