<div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6 col-md-offset-3">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add Review
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Student Review</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for Idea.new do |f| %>
          <%= f.input :description %>
          <%= f.input :name %>
          <%= f.submit 'New Record ', class: 'btn btn-success' %>
        
      </div>
      
    <% end %>  
    </div>
  </div>
</div>





<!--<%= simple_form_for Idea.new do |f| %>
  <%= f.input :description %>
  <%= f.input :name %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %> //-->


<% @ideas.each do |idea| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
        <small>by <%= idea.name %></small>
      </blockquote>
    <div class="btn-group" role="group">
        <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
        <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-sm btn-success' %>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>


