<% if user_signed_in? %>
 <div class="row" style="background-color:#D9853B;margin-top:0px;padding-top:0px;margin-bottom:70px;">
   <h2 class="text-center"  > Room Record </h2>
</div>
<table class="table" >
  <thead>
  
    <tr>
      <th>SN</th>
      <th>Room Number</th>
      <th>Price</th>
      <th>Sitter</th>

    </tr>
  </thead>


  <tbody>
  <tr>

<% @rooms.each do |room| %>
  <td><%= room.symbol %></td>
  <td><%= room.number%></td>
  <td><%= room.price %></td>
  <td><%= room.sitter %></td>
  


 <td><%= link_to 'Delete', room_path(room), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %></td>
 <td><%= link_to 'Edit', edit_room_path(room), class: 'btn btn-sm btn-success' %></td>
  </tr>
<% end %>
  </tbody>
</table>

</div>
<%else%>
  
   <%= image_tag "hostel.jpg", :class => "style_image" %>
   

<%end%>